## Printing Output

In [1]:
print("hello world!")

hello world!

## Printing Outputs and Variables

In [2]:
print(5)
print(35.4)
print("5")

5
35.4
5

In [3]:
print(type(5))
print(type(35.4))
print(type("5"))

<class 'int'>
<class 'float'>
<class 'str'>

In [4]:
city = "Chattanooga"
print(city)
city = "Barishal"
print(city)

Chattanooga
Barishal

In [5]:
type(city)

str

In [6]:
print("City:","Barishal")

City: Barishal

In [7]:
subject = "Math"
number = 5
print("Subject:", subject, "number:", number)

Subject: Math number: 5

## Input Function

In [8]:
#Takes a name as input and returns a string
#Input function always returns a string, integers and floats have to be converted 

name = input("Enter the name of the customer:")
print(name)

Enter the name of the customer: 4

4

In [9]:
number = int(input("Enter the numbers of the customers:"))
number
type(number)

Enter the numbers of the customers: 4

int

In [10]:
type(int(number))

int

In [11]:
num1 = 5
print(type(num1))

<class 'int'>

In [12]:
num2 = 10.5
print(type(num2))

<class 'float'>

In [13]:
#Program takes a number as input and returns it as an integer number

number = int(input("Enter the number:"))
number

Enter the number: 4

4

In [14]:
#Program takes a number as input and returns it as a float number

fractional_num = float(input("Enter the fraction:"))
fractional_num

Enter the fraction: 4

4.0

In [15]:
x = 5
y = 2
x+y

7

In [16]:
x-y

3

In [17]:
x*y

10

In [18]:
x**y

25

In [19]:
x/y

2.5

In [20]:
x = 7 
y = 4

Quotient = x // y
Remainder = x % y

print("Quotient is:", Quotient)
print("Remainder is:", Remainder)

Quotient is: 1
Remainder is: 3

## Concatination of strings

In [21]:
str1 = "Hey"
str2 = "Jude"
print(str1 + " " + str2)

Hey Jude

## Assignment Operator

In [22]:
x,y,z = 5,6,7

In [23]:
x

5

In [24]:
y

6

In [25]:
z

7

In [26]:
x = 5

In [27]:
x += 10  # x = x+10

In [28]:
x

15

In [29]:
x = 5

In [30]:
x -= 10  # x = x-10

In [31]:
x

-5

In [32]:
tuition = 4535
pay_after_discount = tuition - 0.1*tuition
pay_after_discount

4081.5

In [33]:
# Program to convert km to miles

km = float(input("Enter distance in kilometers:"))

miles = 0.621371 * km
miles

Enter distance in kilometers: 4

2.485484

## Booleans

In [34]:
res1 = True
res2 = False

In [35]:
res1

True

In [36]:
res2

False

In [37]:
res1==res2

False

## Comparison Operator

In [38]:
number = 5

In [39]:
number >10

False

In [40]:
number < 10

True

In [41]:
number == 5

True

In [42]:
number >=5

True

In [43]:
number <= 5

True

In [44]:
number != 10

True

## And or not

In [45]:
age = 30 
gpa = 3.6

In [46]:
result = age <=30 and gpa >2.8

In [47]:
result

True

In [48]:
result = age <30 or gpa >2.8

In [49]:
result

True

In [50]:
result = not (age <30 or gpa >2.8)

In [51]:
result

False

# task

In [52]:
language = "python"

In [53]:
print("1.", language =="python")

1. True

In [54]:
age = 18

In [55]:
age >=18

True

In [56]:
age >18

False

In [57]:
language == "java" and age >=18

False

# If statement

In [58]:
number = int(input("Enter the number:"))

if (number >=90 and number < 100):
    print("You got A")
elif (number >=80 and number < 90):
    print("You got B")
else:
    print("Retake the exam again")

Enter the number: 4

Retake the exam again

# While loop

In [61]:
x = int(input("Enter the customers number:"))
while x<=10:
  print("This is number:", x)
    
  x = x+1

Enter the customers number: 5

This is number: 5
This is number: 6
This is number: 7
This is number: 8
This is number: 9
This is number: 10

# Multiplication table

In [1]:
number1 = int(input("Enter the number1:"))
number2 = 1

while number2 <= 10:
    mul = number1 * number2
    print (number1, "*", number2, "=", mul)
    number2 = number2+1

Enter the number1: 4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [2]:
number1 = int(input("Enter the number1:"))
number2 = 10

while number2 >=1:
    mul = number1 * number2
    print (number1, "*", number2, "=", mul)
    number2 = number2-1

Enter the number1: 5

5 * 10 = 50
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5

In [3]:
text ="python"
for characters in text:
    print(characters)

p
y
t
h
o
n

In [2]:
count = 0
for n in range (1,10) :
    count = count + n
    print(count)

1
3
6
10
15
21
28
36
45

In [3]:
for count in range(1,10):
    print(count)

1
2
3
4
5
6
7
8
9

# Multiplication table using for loop

In [24]:
number = int(input("Enter the number:"))

for n in range(1,11):
    product = number * n
    print(number , "*", n, "=", product)

Enter the number: 1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

# break and continue

In [9]:
list = ["nayeem", "hasan", "swapnil","sazzad", "jhon"]

for item in list:
    if item == "swapnil":
        print("M O D  B H A I")
        break
    else:
        print("Hamu bhai ")

Hamu bhai
Hamu bhai
M O D  B H A I

In [10]:
list = ["nayeem", "hasan", "swapnil","sazzad", "jhon"]

for item in list:
    if item == "swapnil":
        print("M O D  B H A I")
        continue
    else:
        print("Hamu bhai ")

Hamu bhai
Hamu bhai
M O D  B H A I
Hamu bhai
Hamu bhai

In [16]:
for number in range (1,6):
    if number ==3:
        print("Break it here")
        break
    print(number)

1
2
Break it here

In [18]:
for number in range (1,6):
    if number ==3:
        print("continue again")
        continue
    print(number)

1
2
continue again
4
5

# Pass statement

In [21]:
number = 5.5
if number >0.0:
    pass          # pass statememnt is basically used when the body of the statement remains empty

# Functions

In [29]:
def rectangle_area(length, width):
    area = length*width
    return area
rectangle_area(5,6)

30

In [30]:
length = int(input("Enter length:"))
width = int(input("Enter width:"))

def rectangle_area(length, width):
    area = length*width
    return area
    
rectangle_area(length, width)

Enter length: 4
Enter width: 6

24

In [34]:
num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))
           
def add_numbers(num1, num2):
    sum = num1 + num2
    return sum

result = add_numbers(num1, num2)
print("Result is =", result)

Enter the first number: 5
Enter the second number: 7

Result is = 12

In [35]:
a = [[1,2,3,4,5,6],
     [3,5,7,8,9,5]]
a

[[1, 2, 3, 4, 5, 6], [3, 5, 7, 8, 9, 5]]

In [3]:
marks = [55,100,75,85,95]

def avg_marks(marks):
    avg = sum(marks)/len(marks)
    return avg
average = avg_marks(marks)

def grades(average):
    if average>= 90:
        print("A")
    elif average >=80:
        print("B")
    elif average >=70:
        print("C")
    elif average >=60:
        print("D")
    else:
        print("F")
        
grades(average)

B

# Finding sum of n numbers

In [1]:
n = int(input("Enter n:"))
def summofnum(n):
    
    summ=0
    
    for i in range (1,n):
        
        summ = summ+i
        print("i =",i,"summ=",  summ)
summofnum(n)

Enter n: 9

i = 1 summ= 1
i = 2 summ= 3
i = 3 summ= 6
i = 4 summ= 10
i = 5 summ= 15
i = 6 summ= 21
i = 7 summ= 28
i = 8 summ= 36

In [29]:
import pandas as pd
import numpy as np

a = np.array([[5],[4],[3],[2],[1]])
b = np.array([5,4,3,2,1,12,2,3,4,4])

for items in range(len(b)):
    
    for i in np.take(b,[items]):
        c = np.array([[i]])
    #print(c.shape)
    print("a", "dot", "c", "\n")
    df = pd.DataFrame(a.dot(c))
    print(df)
    print("Minimum value is :", df[0].min())

a dot c

    0
0  25
1  20
2  15
3  10
4   5
Minimum value is : 5
a dot c

    0
0  20
1  16
2  12
3   8
4   4
Minimum value is : 4
a dot c

    0
0  15
1  12
2   9
3   6
4   3
Minimum value is : 3
a dot c

    0
0  10
1   8
2   6
3   4
4   2
Minimum value is : 2
a dot c

   0
0  5
1  4
2  3
3  2
4  1
Minimum value is : 1
a dot c

    0
0  60
1  48
2  36
3  24
4  12
Minimum value is : 12
a dot c

    0
0  10
1   8
2   6
3   4
4   2
Minimum value is : 2
a dot c

    0
0  15
1  12
2   9
3   6
4   3
Minimum value is : 3
a dot c

    0
0  20
1  16
2  12
3   8
4   4
Minimum value is : 4
a dot c

    0
0  20
1  16
2  12
3   8
4   4
Minimum value is : 4

In [2]:
a = np.array([[5],[4],[3],[2],[1]])
a.shape

(5, 1)

In [3]:
b = np.array([5,4,3,2,1,12,2,3,4,4])
b.shape

(10,)

In [4]:
a.dot(b[0])

array([[25],
       [20],
       [15],
       [10],
       [ 5]])

In [9]:
a.dot(b[1])
len(a)

5

In [28]:
for items in range(len(b)):
    
    for i in np.take(b,[items]):
        c = np.array([[i]])
    #print(c.shape)
    print("a", "dot", "c", "\n")
    df = pd.DataFrame(a.dot(c))
    print(df)
    print("Minimum value is :", df[0].min())
        
    
    
#     print(items)

# for i in np.take(b,[items]):
#     c = np.array([[i]])
#     print(c.shape)
#     print(a.dot(c))

a dot c

    0
0  25
1  20
2  15
3  10
4   5
Minimum value is : 5
a dot c

    0
0  20
1  16
2  12
3   8
4   4
Minimum value is : 4
a dot c

    0
0  15
1  12
2   9
3   6
4   3
Minimum value is : 3
a dot c

    0
0  10
1   8
2   6
3   4
4   2
Minimum value is : 2
a dot c

   0
0  5
1  4
2  3
3  2
4  1
Minimum value is : 1
a dot c

    0
0  60
1  48
2  36
3  24
4  12
Minimum value is : 12
a dot c

    0
0  10
1   8
2   6
3   4
4   2
Minimum value is : 2
a dot c

    0
0  15
1  12
2   9
3   6
4   3
Minimum value is : 3
a dot c

    0
0  20
1  16
2  12
3   8
4   4
Minimum value is : 4
a dot c

    0
0  20
1  16
2  12
3   8
4   4
Minimum value is : 4

In [ ]:
pd.to_datetime()